.container {
    background-color: white;
    width: 40%;
}

.main__title {
    display: flex;
    align-items: flex-end;
}
.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
}

.main__block {

    display: flex;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 2%;
    flex-flow: wrap;
    cursor: pointer;
}

.main__block_top {
    display: flex;
    justify-content: space-between;
}
.container:hover .main__image_plus {
    display:block;
}

.main__image_hidden {
    display: none;
}

.main__image_active {
    width: 30vw;
    flex-basis: 100%;
}

.main__block_title {
    flex: 12 1 0;
    padding-right: 100px;
}

.main__image_plus {
    flex: 1 1 0;
    height: 4vh;
    width: 4vw;
    padding-top: 3%;
    display: none;
}

.main__block_bottom {
    border-bottom: none;
}