.container {
    background-color: white;
}

.main__title {
    display: flex;
    align-items: flex-end;
}
.main {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.main__block {
    width: 40%;
    display: flex;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 2%;
    flex-flow: wrap;
    cursor: pointer;
}

.main__image_hidden {
    display: none;
}

.main__image_active {
    width: 30vw;
    flex-basis: 100%;
}

.main__block_title {
    flex: 10 1 0;
    padding-right: 100px;
}

.main__image_plus {
    flex: 1 1 0;
    height: 5vh;
    padding-top: 3%;
}

.main__block_bottom {
    border-bottom: none;
}